@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=New+Tegomin&display=swap');

body {
    font-family: 'Lobster', cursive !important;
    background-color: gray !important;
    text-align: center;
    
}

.spam{
    margin:0 25px;
    text-shadow:2px 2px 2px black;
}
.horizontal{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.text{
    text-align: right;
}
footer{
    bottom:10px;
}

/* footer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform:translateX(-50%);

} */
.mb-3{
    background: rgb(177, 221, 177);
}
.col-md-6{
    background: rgb(177, 221, 177);
}